body {
    margin: 0px;
}

// Gamefield zone
.playing_field {
    display: flex;
}

.card_desk {
    width: 75%;
    padding: 100px;
    box-sizing: border-box;
    background-color: darkgreen;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

// Sidebar zone
.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 75%;
    background-color: green;
    align-items: center;
}

.card_deck {
    width: 200px;
    height: 300px;
    background-image: url('https://54kards.ru/image/cache/data/poster/Tally-Ho%20Circle%20Backs/back-red_large-1024x1024.png');
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.buttons {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

    &:disabled {
        background-color: black;
    }
}

// Player zone
.section {
    border: 3px solid darkolivegreen;
}

.player_section {
    width: 450px;
    height: fit-content;
    border: 3px solid #556b2f;
    margin: 0px 50px 50px 0px;
}

.active {
    width: 450px;
    height: fit-content;
    border: 3px solid white;
    margin: 0px 50px 50px 0px;
}

.player_name {
    text-align: center;
    font-size: 29px;
    color: white;
    margin: 15px;
    border: none;
}

.player_score {
    text-align: center;
    margin: 15px;
    font-size: 65px;
    color: white;
    border: none;
}

.player_cards {
    border: none;
    display: flex;
    flex-wrap: wrap;
    padding: 22px;
    justify-content: space-around;
}

// Card style
.card {
    width: 100px;
    height: 145px;
    border: 3px solid black;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.card_upper {
    height: 30px;
    padding: 2px;
}

.card_bottom {
    height: 30px;
    transform: rotate(180deg);
    padding: 2px;
}

// Modale window style
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.507);
    z-index: 3;
    display: none;
}

.popup {
    position: fixed;
    left: calc(50% - 200px);
    top: calc(50vh - 150px);
    width: 400px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 4;
    text-align: center;
}

.resultText {
    font-size: 30px;
    margin-top: 30px;
}

// Loading spinner
.loadSpinner {
    width: 300px;
    height: 150px;
    border: 1px solid white;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: white;
    position: relative;
    left: calc(50% - 150px);
}

// Login
.login_modale {
    background-color: darkgreen;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 15px;
    height: 400px;
    align-items: center;
}

.form_input {
    margin-bottom: 15px;
    background-color: darkgreen;
}

label {
    font-size: 24px;
    height: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    background-color: darkgreen;
    height: 30px;
    color: white;
    font-size: 24px;
}

.deleteButton {
    height: 37px;
    width: 37px;
    margin-left: 5px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    &:active {
        color: red;
    }
}