// Gamefield zone
.playing_field {
    display: flex;
}

.card_desk {
    width: 75%;
    padding: 100px;
    box-sizing: border-box;
    background-color: darkgreen;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

// Sidebar zone
.sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 75%;
    background-color: green;
    align-items: center;
}

.card_deck {
    width: 200px;
    height: 300px;
    background-image: url('https://54kards.ru/image/cache/data/poster/Tally-Ho%20Circle%20Backs/back-red_large-1024x1024.png');
    background-position: center;
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 15px;
}

.buttons {
    margin-top: 5vh;
    width: 200px;
    height: 50px;
}

// Player zone
.section {
    border: 3px solid darkolivegreen;
}

.player_section {
    width: 450px;
    height: auto;
    border: 3px solid #556b2f;
    margin: 0px 50px 50px 0px;
}

.player_name {
    text-align: center;
    font-size: 29px;
    color: white;
    margin: 15px;
    border: none;
}

.score {
    text-align: center;
    margin: 15px;
    font-size: 65px;
    color: white;
    border: none;
}

.card_section {
	border: none;
	display: flex;
	flex-wrap: wrap;
	padding: 22px;
	justify-content: space-around;
}
// Card style
.card {
    width: 100px;
    height: 145px;
    border: 3px solid black;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}
.card_upper {
    height: 30px;
    padding: 2px;
}
.card_bottom{
    height: 30px;
    transform: rotate(180deg);
    padding: 2px;
}
// Modale window style
.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.507);
    z-index: 3;
    visibility: hidden;
}

.popup {
    position: fixed;
    left: calc(50% - 200px);
    top: calc(50vh - 150px);
    width: 400px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 4;
    visibility: hidden;
}